@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Animacion a los botoner del nav */
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Variables globales */
:root {
    --main-blue: #0080dc;
    --main-purple:#9a2df8;
    --bg-black: #070707;
    --white:#ffffff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-black);
    color: var(--white);
    font-size: 1.6rem;
}
header {
    background: linear-gradient(180deg, var(--bg-black) 80%, var(--main-purple) 140%);
    border-radius: 32px
    
}

/* Estilos al nav */
nav > ul {
    margin: 20px;
}
.nav-link {
    color: var(--white);
    z-index: 2;
    position: relative;
    padding: 10px 15px;
}
.nav-item  {
    position: relative;
    margin: 0px 12px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

/* Animacion a los botones del nav */
.nav-item:hover {

}
.nav-item:hover::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 112px;
    background: linear-gradient( var(--main-blue), var(--main-purple));
    animation: animate 3s linear infinite;
}
.nav-item::after {
    content: '';
    position: absolute;
    background: var(--bg-black);
    border-radius: 16px;
    border: 12px;
    inset: 3px;
}
.nav-link:hover {
    color: var(--white);
}

/* Estilos a la linea horizontal abajo del nav y sobre contacto */
.horizontal-line {
    height: 2px; 
    background-color: var(--white);
    margin: 22px 1%;
}

/* Estilos a linea vertical del about me */
.d-flex {
    position:absolute;
    margin: 0px 2%;
    height: 193px;
}

/* Estilos a la seccion name */
.name {
    text-align: center;
    margin: 71px 0px 32px;
    font-size: 3.4rem;
}
.name p {
    font-weight: lighter;
    padding: 0px 0px 30px
}
.name h1 {
    font-size: 9.2rem;
}
.last-name {
    margin-top: -60px;
}

/* Estilos al contenedor que se mueve con respecto al vr */
.container-move {
    margin: 0px 8%;
}

/* Estilos a la seccion about me */
.about-me--container {
    
}

/* Estilos a los subtitulos. Todos tienen misma clase */
.subtitle {
    font-size: 3.8rem;
}
.cards-p {
    font-size: 1.8rem;
}
.d-flex {
height: 200px;
width: 8px;
margin-left: 2vh;
background: linear-gradient( var(--main-blue), var(--main-purple));
border-radius: 8px;
}

/* Estilo a la seccion education */
.main-education--container{
    margin-top: 70px;
}
.education-cards--container {
    text-align: center;
    margin: 36px 0px 46px;    
}

/* Estilos a seccion de proyectos */
.main-projects-container {
    
}

/* Estilo del carousel */
.main-projects-container{
    margin: 53px 0px;
}
.container-carousel{
    margin: 20px 0px;
}
.carousel{
    margin: 0 auto;
    width: 80%;
    margin-top: 76px;
    box-shadow: 0px 0px 62px 2px var(--main-blue);
}
.d-block {
    height: 472px;
    object-fit: cover 
}

    /* Estilo de las imagenes */

/* Seccion skills */
.image-skills--container{
    display: flex;
    justify-content: space-around;
}
.skills img {
    height: 8vw;
    position: relative;
    margin: 36px 76px;}

/* Seccion contacto */
.contact {
    
}
.contact img {
    height: 7vh;
    position: relative;
}
.contact-button {
    display: flex;
    width: 226px;
    border: 3px solid;
    border-image: linear-gradient(0deg, var(--main-blue), var(--main-purple));
    border-image-slice: 1;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
}
.contact-button:hover {
    background: linear-gradient(0deg, var(--main-blue), var(--main-purple));
    border-color: #007ddd; /* Cambia el color del borde en hover */
    color: #ffffff;
    
}
.card-contact {
    margin: 14px 24px;
}
.card-full {
    display: flex
}
.right-card {
    display: flex;
}
.contact > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* RESPONSIVE */

/* Estilos para pantallas (Desktop)*/
@media (min-width: 1920px) {
    .contact-button {
        width: 288px;
        height: 128px;
    }
}

/* Estilos para portátiles */
@media (max-width: 1280px) {
  
}

/* Estilos para iPad Air  */
@media (min-width: 820px) and (max-height: 1180px) {
    .contact-button {
        width: 226px;
    }
}

/* Estilos para iPad Mini */
@media (min-width: 768px) and (min-height: 1024px) {
    .contact-button {
        width: 226px;
    }
}

@media (min-width: 390px) and (min-height: 844px) {
    .d-block {
        height: 551px;
    }
    .d-flex {
        height: 425px;
    }
    
    .skills img {
        margin: 36px 0px;

        height: 80px
    }
    .carousel {
        width: 100%;
    }
    .contact-button {
        width: 112px;
        height: 66px
    }
    .image-skills--container {
        justify-content: space-around
    }
    .card-contact {
        margin: 14px 9px;
    }
    .contact img {
        padding: 5px;
        
    }

}
    

}       
    AOS.init();
